<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form action="index.html" method="post">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" name="FirstName" placeholder="First Name">
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" name="lastName" placeholder="Last Name">
      <label for="email">Email</label>
      <input id="email" type="text" name="email">
      <label for="password">Password</label>
      <input id="password" type="password" name="password">
      <label for="confirmPass">Confirm password</label>
      <input id="confirmPass" type="password" name="confirmPass">
    </form>
  </body>
</html>
